<form action="/api/create" method="POST">
  Name:<br>
  <input class="formInput" type="text" name="name" placeholder="Enter Name"><br>
  Rank:<br>
  <input class="formInput" type="text" name="rank" placeholder="Enter Rank"><br>
  Branch:<br>
  <input class="formInput" type="text" name="branch" placeholder="Enter Branch"><br>
  Age:<br>
  <input class="formInput" type="text" name="age" placeholder="Enter Age"><br>
  Home City:<br>
  <input class="formInput" type="text" name="homeCity" placeholder="Enter Home City"><br>
  Home State:<br>
  <input class="formInput" type="text" name="homeState" placeholder="Enter Home State"><br>
  Unit:<br>
  <input class="formInput" type="text" name="unit" placeholder="Enter Unit"><br>
  Stationed State:<br>
  <input class="formInput" type="text" name="stationedState" placeholder="Enter Stationed State"><br>
  Stationed City:<br>
  <input class="formInput" type="text" name="stationedCity" placeholder="Enter Stationed City"><br>
  Date of death:<br>
  <input class="formInput" type="date" name="dateOfDeath" placeholder="Enter Date of Death"><br>
  Cause of death:<br>
  <input class="formInput" type="text" name="causeOfDeath" placeholder="Enter Cause of Death"><br>
  City/Province of death:<br>
  <input class="formInput" type="text" name="cityOfDeath" placeholder="Enter City/Province of Death"><br>
  Country of death:<br>
  <input class="formInput" type="text" name="countryOfDeath" placeholder="Enter Country of Death"><br>
  Awards:<br>
  <textarea name="awards" rows='5' cols='100' placeholder="Enter Awards separated by ~"></textarea><br>
  Family:<br>
  <input class="formInput" type="text" name="family" placeholder="Enter Family"><br>
  Bio:<br>
  <textarea name="bio" rows="5" cols="100" placeholder="Enter Bio"></textarea><br>
  Quotes:<br>
  <textarea name="quotes" rows="5" cols="100" placeholder="Enter Quotes separated by ~"></textarea><br>
  Photo:<br>
  <input class="formInput" type="url" name="photo" placeholder="Enter Photo URL"><br>
  Conflict:<br>
  <input class="formInput" type="text" name="conflict" placeholder="Enter Conflict"><br>

  <input type="submit" value="Submit">
</form>
<link rel="stylesheet" type="text/css" href='../public/css/style.css'>